<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/atualizar.css">
  <link rel="shortcut icon" href="/static/imagens/icon.svg" type="image/x-icon" />
  <title>Atualize Sua Receita</title>
</head>
<body>
  <div class="grid">
    <div class="label-receita">
      <h1>Atualizar Receita</h1>
    </div>

    <a href="{{ url_for('lista') }}">
      <button type="button" id="receitas">Ver Receitas Cadastradas</button>
    </a>

    <div class="forms">
      <form method="POST">
        <div class="form-group">
          <h3>Nome do Prato:</h3>
          <input type="text" name="nome" required value="{{ receita.nome }}">
        </div>

        <div class="form-group">
          <h3>Tipo:</h3>
          <input type="text" name="tipo" placeholder="salgada/doce" required value="{{ receita.tipo }}">
        </div>

        <div class="form-group">
          <h3>Origem:</h3>
          <input type="text" name="origem" placeholder="país/região" required value="{{ receita.origem }}">
        </div>

        <div class="form-group">
          <h3>Ingredientes:</h3>
          <input type="text" name="ingredientes" required value="{{ receita.ingredientes }}">
        </div>

        <div class="form-group">
          <h3>Modo de preparo:</h3>
          <input type="text" name="modo" required value="{{ receita.modo_preparo }}">
        </div>

        <div class="form-group">
          <button id="atualizar" type="submit">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
