<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="shortcut icon" href="/static/imagens/lista.png" type="image/x-icon" />
</head>
<body>
    <div class="grid">
        <div class="icon">
            <img src="/static/imagens/icon.svg" alt="">
            <h1>Pronto(a) para começar?</h1>
        </div>
        <div class="button">
            <a href="{{ url_for('cadastro') }}" class="btn-link">Entrar</a>
        </div>
</body>
</html>
